*{
    --pc-icon :"https://cdn-icons-png.flaticon.com/512/1865/1865273.png"
    --folder-img : "https://cdn-icons-png.flaticon.com/512/3767/3767094.png"
    --download-folder-img : "https://cdn-icons-png.flaticon.com/512/3121/3121602.png"
    --notepad-img: "https://cdn-icons-png.flaticon.com/512/686/686234.png"
    --windows-icon : "<i class="fa-brands fa-windows"></i>"
}