/*------------------------------------------------------Nav bar -------------------------------------------------- */
.fb-nav {
    position: fixed;
    top: 0;
    height: 6rem;
    width: 100%;
    background: white;
    box-shadow: 0 0 1rem grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    z-index: 10;
}

/* -------------------left side -------------------------- */
.fb-nav .fb-nav-left {
    display: flex;
    justify-content: left;
    width: 30%;
    padding-left: 1rem;
}

.fb-nav .fb-nav-left .fb-nav-left-logo img {
    width: 4rem;
    margin-right: 2rem;
}

.fb-nav .fb-nav-left .fb-nav-left-searchbox {
    position: relative;
    display: flex;
}

.fb-nav .fb-nav-left .fb-nav-left-searchbox input {

    width: 25rem;
    height: 90%;
    text-align: center;
    border-radius: 5rem;
    font-weight: bold;
    outline: none;
    border: none;
    background: var(--fb-bg);
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.555);
}

.fb-nav .fb-nav-left .fb-nav-left-searchbox i {
    position: absolute;
    left: 2rem;
    top: 1.3rem;
    font-size: 1.7rem;
}

/* ----------------------middle Side ---------------------- */
.fb-nav .fb-nav-middle {
    width: 35%;
    display: flex;
    justify-content: space-around;
    padding-left: 0;
    list-style: none;
}

.fb-nav .fb-nav-middle>li {
    width: 10rem;
    text-align: center;
}

.fb-nav .fb-nav-middle>li i {
    font-size: 2.4rem;
    color: grey;
    cursor: pointer;
    padding: 1.2rem 0;
}

#fb-notification {
    position: relative;
}

#fb-notification::after {
    position: absolute;
    top: -.5rem;
    right: 0;
    content: "10+";
    background: red;
    padding: .3rem .8rem;
    border-radius: 5rem;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

.fb-nav .fb-nav-middle>li:hover i {
    color: royalblue;
    background: rgba(143, 143, 143, 0.284);
    width: 8.5rem;
    border-radius: .8rem;
}

#active {
    position: relative;
    color: royalblue;
    padding: 1.2rem 0;
    width: 8.5rem;
    border-bottom: .3rem solid royalblue;
}

#active:hover {
    background: transparent;
    border-radius: 0;
}

#fb-menu-icon {
    display: none;
    font-size: 3rem;
}

/*  -------------------------------right Side ------------------------------------- */
.fb-nav .fb-nav-right {
    width: 35%;
    display: flex;
    justify-content: right;
    align-items: center;
    list-style: none;
}

.fb-nav .fb-nav-right li img {
    width: 2rem;
    height: 2rem;
    background: var(--fb-bg);
    padding: 1rem;
    border-radius: 50%;
    margin-right: 2rem;
    transition: all .2s;
    cursor: pointer;
}

.fb-nav .fb-nav-right li i {
    width: 4rem;
    height: 4rem;
    background: var(--fb-bg);
    border-radius: 50%;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
    transition: all .2s;
    cursor: pointer;
}

.fb-nav .fb-nav-right li i:hover {
    background-color: rgb(215, 217, 220);
    transition: all .2s;
}

.fb-nav .fb-nav-right li img:hover {
    background-color: rgb(215, 217, 220);
    transition: all .2s;
}








/* ------------------------------------------------------------- Home Page ----------------------------------------------------------------- */

.fb-container {
    position: absolute;
    top: 6rem;
    background: var(--fb-bg);
    width: 100%;
}

.fb-home {
    display: flex;
    justify-content: space-between;

}

#new-message {
    font-size: 3rem;
    z-index: 10;
    position: absolute;
    bottom: 1rem;
}


/* --------------------------Home Page Left Section --------------------------- */
.fb-home-left {
    position: fixed;
    left: 0;
    width: 28rem;
    height: calc(100vh - 6rem);
    overflow: auto;
}

.fb-home-left:hover::-webkit-scrollbar-thumb {
    background: rgba(1, 44, 54, 0.712);
    border-radius: .8rem;
    width: 2rem;
}

::-webkit-scrollbar {
    width: .6rem;
}

:-webkit-scrollbar-track {
    background: pink;
}

.fb-home-left-box {
    width: 94%;
    margin: 0 3%;
    height: 4.5rem;
    /* margin-top:1rem; */
    border-radius: .8rem;
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

.fb-home-left-box:hover {
    background-color: rgb(215, 217, 220);
    transition: .3s;
}

.fb-home-left-box img,
.fb-home-left-box i {
    width: 3rem;
    height: 3rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    color: rgb(0, 179, 255);
    font-size: 1.8rem
        /* background:royalblue; */
}

#fb-home-left-profile {
    margin-top: 2rem;
}

#fb-home-left-profile img {
    background-color: royalblue;
    border: .2rem solid black;
    border-radius: 50%;
}

.fb-home-left-devider {
    color: rgba(0, 0, 0, 0.578);
    margin-left: 2rem;
    position: relative;
}

.fb-home-left-devider::after {
    position: absolute;
    content: "Edit";
    right: 1rem;
    color: rgb(0, 64, 255);
    cursor: pointer;
}

#train-game {
    color: red;
}

#shoot-game {
    color: rgb(5, 92, 44);
}

#devider-line {
    width: 20rem;
    height: .1rem;
    border-radius: 5rem;
    background: rgba(0, 0, 0, 0.591);
}

#bookmark-icon {
    color: red;
}

#page-icon {
    color: rgb(192, 0, 206);
}

#event-icon {
    color: rgb(206, 127, 0);
}

#show-more-icon {
    color: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.155);
    border-radius: 50%;
}




/* --------------------------Home Page Right Section --------------------------- */

.fb-home-right {
    position: fixed;
    right: 0;
    width: 30rem;
    height: 100vh;
}

.fb-home-right-devider {
    color: rgba(0, 0, 0, 0.578);
    margin-left: 2rem;
}

.fb-home-right-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fb-home-right-box-icons i {
    margin-right: 1.9rem;
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.568);
    cursor: pointer;
}

.fb-home-right-contact-box {
    width: 94%;
    margin: 0 3%;
    height: 4.5rem;
    /* margin-top:1rem; */
    border-radius: .8rem;
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

.fb-home-right-contact-box:hover {
    background-color: rgb(215, 217, 220);
    transition: .3s;
}

.fb-home-right-contact-box>i {
    position: relative;
    width: 3rem;
    height: 3rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    color: rgb(10, 13, 14);
    font-size: 1.8rem;
    background: rgba(0, 100, 251, 0.105);
    border: .2rem solid black;
    border-radius: 50%;
}

.fb-home-right-contact-box p {
    font-size: 1.3rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#group-chat-icon {
    background-color: transparent;
    border: none;
    background: rgb(215, 217, 220);
}

.online::after {
    position: absolute;
    bottom: 0rem;
    right: 0;
    content: '';
    height: 1rem;
    width: 1rem;
    background: rgb(0, 201, 0);
    border-radius: 50%;
}


/*  --------------------------------------Home Page Middle Section --------------------------------------------- */
.fb-main {
    position: relative;
    width: calc(100% - 60rem);
    height: fit-content;
    margin: 0 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.fb-main-status {
    height: 19rem;
    width: 95%;
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: space-evenly;
}

.fb-main-status-card,
#owner-status {
    position: relative;
    height: 100%;
    width: 11rem;
    cursor: pointer;
    transition: webkit-object-fit 1s ease-in-out;
}

#owner-status {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .fb-main-status-card:hover,#owner-status:hover{
    transform:scale(1.01);
} */
.fb-main-status-card:hover img,
#owner-status:hover img {
    object-fit: cover;
    transition: webkit-object-fit 1s ease-in-out;
}

#owner-status>img {
    height: 75%;
    width: 100%;
    border-radius: .8rem .8rem 0 0;
    transition: webkit-object-fit 1s ease-in-out;
    background: rgba(65, 105, 225, 0.667);
}

#owner-status>p {
    position: relative;
    height: 25%;
    width: 100%;
    font-weight: 500;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background: white;
    font-weight: bold;
    border-radius: 0 0 .8rem .8rem;
}

#owner-status p i {
    position: absolute;
    top: -2.5rem;
    background: royalblue;
    color: white;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    font-size: 1.8rem;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .5rem solid white;
}

.fb-main-status-card>img {
    height: 100%;
    width: 100%;
    border-radius: .8rem;
    transition: 1s ease-in-out;
}

.fb-main-status-card p {
    position: absolute;
    bottom: 1rem;
    background: transparent;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    padding-left: 1rem;
}

.fb-main-status-card i {
    position: absolute;
    left: 1.5rem;
    top: 1.5rem;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-color: rgba(0, 106, 255, 0.772);
    border-radius: 50%;
    border: .5rem solid white;
}



/*  -------------------------------Home Page Post Section -------------------------------------------- */
.fb-main-post {
    height: 12rem;
    width: 75%;
    background: white;
    margin: 2rem 0;
    border-radius: .8rem;
    box-shadow: 0 0 .2rem rgba(0, 0, 0, 0.667);
}

.fb-main-post-upper {
    height: 49%;
    margin-bottom: 1%;
    /* background-color: rgb(255, 10, 10); */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fb-main-post-upper img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: rgba(0, 63, 254, 0.594);
    border: .05rem solid black;
    margin-left: 1.2rem;
    cursor: pointer;

}

.fb-main-post-upper input {
    width: calc(100% - 11rem);
    height: 4rem;
    border-radius: 5rem;
    background-color: rgba(0, 63, 254, 0.594);
    border: .05rem solid black;
    outline: none;
    margin-right: 2rem;
    padding: 0 1rem;
    background: rgb(240, 242, 245);
    border: none;
    box-shadow: 0 0 .2rem rgba(205, 202, 202, 0.692);
    opacity: .9;
    font-size: 1.6rem;
    color: grey;
    cursor: pointer;
}

.fb-main-post-upper input:hover {
    opacity: 1;
}

.fb-main-post-upper input:focus {
    cursor: text;
}

.fb-main-post-lower {
    height: 49%;
    margin-top: 1%;
    display: flex;
    justify-content: center;
}

.fb-main-post-lower p {
    width: 14rem;
    height: 4rem;
    margin: 0 1rem;
    border-radius: .8rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    color: grey;
    font-weight: bold;
    cursor: pointer;
    padding: 0 1rem;
}

.fb-main-post-lower p>i {
    margin-right: .6rem;
    margin-top: .4rem;
    font-size: 2.5rem;

}

#post-video {
    color: rgb(240, 40, 73);
}

#post-image {
    color: rgb(69, 189, 98);
}

#post-feeling {
    color: rgba(255, 180, 6, 0.993);
}

#post-devider {
    width: 95%;
    height: .1rem;
    border: none;
    background: grey;
}

.fb-main-post-lower p:hover {
    background: rgb(240, 242, 245);
}



/* ---------------------------------------  Create Room Section --------------------------------------------------- */

.fb-main-create-room {
    height: 7rem;
    width: 75%;
    background: white;
    box-shadow: 0 0 .3rem rgba(0, 0, 0, 0.396);
    border-radius: .8rem;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom:1rem;
}

.fb-main-create-room p {
    width: 14rem;
    height: 3.7rem;

    margin: 0 1rem;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(33, 111, 219);
    border: .2rem solid rgb(231, 243, 255);
}

.fb-main-create-room p:hover {
    background-color: rgba(255, 0, 247, 0.09);
}

.fb-main-create-room p i {
    margin-right: 1rem;
    color: rgb(179, 61, 175);

}

.active-user {
    position: relative;
    height: 3rem;
    width: 3rem;
    border: .1rem solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    background: rgba(0, 64, 255, 0.216);
    font-size: 1.8rem;
}






/* ---------------------------------------  Other's post Section ---------------------------------------------------* */

.fb-main-others-post {
    height: fit-content;
    width: 75%;
    background: white;
    margin: .5rem 0;
    border-radius: .8rem;
    box-shadow: 0 0 .2rem rgba(0, 0, 0, 0.352);
}
.fb-main-others-post:first-child{
    margin-top:2rem;
}
.fb-main-others-post-header {
    width: calc(100% - 3rem);
    height: fit-content;
    margin: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.others-post-title i {
    cursor: pointer;
}

.fb-main-others-post-header .others-post-title {
    width: 80%;
    height: 100%;
    font-size: 1.5rem;
    display: flex;
    margin-left: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.fb-main-others-post-header>i {
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
    cursor: pointer;
}

.fb-main-others-post-header>img {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: .1rem solid grey;
    cursor: pointer;
}

.others-post-title div {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    color: grey;

}

.others-post-title div:last-child {
    cursor: pointer;
}

.others-post-title div span {
    font-weight: bold;
    margin: 0.6rem;
    color: black;
    cursor: pointer;
}

.others-post-title div span:first-child {
    margin-left: 0;
}

.others-post-title div i {
    margin-left: 1rem;
    margin-top: .3rem;
    font-size: 1.3rem;
}

.others-post-image img {
    width: 100%;
    height: fit-content;
}

.fb-main-others-post-footer {
    height: 7rem;

}

.fb-main-others-post-footer-upper,
.fb-main-others-post-footer-bottom {
    display: flex;
    align-items: center;
    margin: 0;
}

.fb-main-others-post-footer-upper {
    height: 3rem;
    justify-content: space-between;
    margin: 0 2rem;
}

.fb-main-others-post-footer-upper p {
    font-size: 1.5rem;
    color: grey;
    cursor: pointer;
}

.fb-main-others-post-footer-upper p:hover {
    text-decoration: underline;
}

.fb-main-others-post-footer-upper p i {
    color: white;
    background: royalblue;
    border-radius: 50%;
    padding: .5rem;
    font-size: 1.2rem;
}




.fb-main-others-post-footer-bottom {
    height: 3rem;
    width: 90%;
    margin: 0 5%;
    justify-content: space-evenly;
}

.fb-main-others-post-footer-bottom p {
    width: 45%;
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(50, 50, 50);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .6rem;
    cursor: pointer;
}

.fb-main-others-post-footer-bottom p:hover {
    height: 3rem;
    background: rgb(235, 238, 241);
}

.fb-main-others-post-footer-bottom p i {
    margin-right: 1rem;
    font-size: 2rem;

}

#post-like {
    color: royalblue;
}

#post-comment {
    font-size: 1.7rem;
    margin-top: .5rem;
}

.comments {

    width: 95%;
    margin: 0 2.5%;
}

.comments>p {
    font-size: 1.4rem;
    font-weight: 500;
    color: rgb(62, 62, 62);
    cursor: pointer;
}

.comments>p:hover {
    text-decoration: underline;
}

.comments-upper {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: left;

    margin: 0;
}

.comments-upper p {
    font-size: 1.4rem;
    margin-right: 1rem;
    background: rgb(235, 238, 241);
    border-radius: .8rem;
    padding: .5rem;
    margin: 0;
}

.comments-upper p span:first-child {
    font-weight: 500;
    cursor: pointer;
}

.comments-upper>i {
    cursor: pointer;
}

.comments-upper i:last-child {
    color: grey;
    font-size: 1.5rem;
    opacity: 0;
    transition: .3s;
    margin-left: 1rem;
}

.comments-upper:hover.comments-upper i:last-child {
    opacity: 1;
    transition: .3s;
}

.comments-middle {
    width: 80%;
    margin: 0 10%;
}

.comments-middle-reaction p {
    font-size: 1.3rem;
    font-weight: bold;
    color: rgb(54, 54, 54);
}

.comments-middle-reaction p span:first-child {
    color: royalblue;
}

.comments-middle-reaction p span:last-child {
    font-weight: 400;
    color: black;
}

.comments-middle-reaction p span {
    margin-right: 1rem;
    cursor: pointer;
}

.comments-middle-reaction p span:hover {
    text-decoration: underline;
}


.comments-middle-reply {
    display: flex;
    align-items: center;
    justify-content: left;

}

.comments-middle-reply span {
    font-size: 2rem;
    font-weight: bold;
}

.comments-middle-reply img {
    width: 2rem;
    height: 2rem;
    border: .1rem solid grey;
    border-radius: 50%;
    margin: 0 1rem;
}

.comments-middle-reply p {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(50, 49, 49);
    cursor: pointer;
}

.comments-middle-reply p:hover {
    text-decoration: underline;
}

.comments-footer-write-comment {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

.comments-footer-write-comment input {
    height: 3.5rem;
    width: 90%;
    border-radius: 5rem;
    outline: none;
    border: none;
    background: rgb(222, 231, 233);
    padding: 0 1rem;
}

.comments-footer-write-comment-icons {
    position: absolute;
    right: 1rem;
}

.comments-footer-write-comment-icons img {
    width: 1.6rem;
    margin: 0 .5rem;
    cursor: pointer;
    opacity: .7;
}

.comments-footer-write-comment>img:first-child {
    width: 3rem;
    height: 3rem;
    border: .1rem solid grey;
    border-radius: 50%;
    margin-right: 1rem;
    cursor: pointer;
}

.comments>p:last-child {
    font-size: 1.3rem;
    margin-left: 4rem;
    color: black;
    font-weight: 400;
}

.comments>p:last-child:hover {
    text-decoration: none;
    cursor: text;
}



@media screen and (max-width:1250px) {

    .fb-home-left,
    .fb-home-right {
        width: 25rem;
    }

    .fb-main {
        position: relative;
        width: calc(100% - 50rem);
    }

    .fb-main-status {
        grid-template-columns: repeat(4, auto);
        justify-content: center;
    }

    .fb-main-status-card {
        margin: 0 .5rem;
    }

    .fb-main-status-card:nth-child(5) {
        display: none;
    }

    .fb-main-post,
    .fb-main-create-room,
    .fb-main-others-post {
        width: 90%;
    }
}

@media screen and (max-width:1150px) {
    .fb-main {
        width: calc(100% - 50rem);
        margin: 0 25rem;
    }

    .fb-home-right,
    .fb-home-left {
        width: 25rem;
        height: 100vh;
    }

}

@media screen and (max-width:1050px) {
    .fb-nav {
        font-size: 1.8rem;
    }

    .fb-nav .fb-nav-left .fb-nav-left-searchbox input {
        width: 15rem;
    }

    .fb-nav .fb-nav-left .fb-nav-left-searchbox i {
        display: none;
    }


    .fb-main {
        width: calc(100% - 25rem);
        margin: 0 25rem 0 0;
    }

    .fb-main-status {
        grid-template-columns: repeat(5, auto);
        justify-content: center;
    }

    .fb-main-status-card {
        margin: 0 .5rem;
    }

    .fb-main-status-card:nth-child(5) {
        display: block;
    }

    .fb-main-post,
    .fb-main-create-room,
    .fb-main-others-post {
        width: 70%;
    }

    .fb-home-left {
        display: none;
    }

}

@media screen and (max-width:900px) {
    .fb-nav .fb-nav-left .fb-nav-left-searchbox input {
        width: 10rem;
        font-size: 1.1rem;
    }

    .fb-nav .fb-nav-middle>li {
        width: 7rem;
        text-align: center;
    }

    .fb-nav .fb-nav-middle>li i {
        font-size: 2rem;
    }

    #active {
        width: 7rem;
    }

    .fb-nav .fb-nav-middle>li:hover i {
        width: 5rem;
    }


    .fb-home-right {
        display: none;
    }

    .fb-main {
        width: 100%;
        margin: 0;
        padding:0;
    }

    .fb-main-post,
    .fb-main-create-room,
    .fb-main-others-post {
        width: 50rem;
    }

    .fb-main-status {
        width: 100%;
    }



    .fb-main-status {
        grid-template-columns: repeat(4, auto);
        justify-content: center;
    }

    .fb-main-status-card,#owner-status  {
        margin: 0 .5rem;
    }

    .fb-main-status-card:nth-child(5) {
        display: none;
    }
}

@media screen and (max-width:700px) {
    .fb-nav .fb-nav-middle {
        display: none;
    }

    #fb-menu-icon {
        display: block
    }
}

@media screen and (max-width:550px) {
    .fb-nav .fb-nav-right {
        width: 35%;
        display: flex;
        justify-content: right;
        align-items: center;
        list-style: none;
    }

    .fb-nav .fb-nav-right li img {
        width: 2rem;
        height: 2rem;
        padding: .5rem;
        margin-right: 1rem;
    }

    .fb-nav .fb-nav-right li i {
        width: 3rem;
        height: 3rem;
        font-size: 1.5rem;
        margin-right: 1rem;
    }

    .fb-nav .fb-nav-left .fb-nav-left-searchbox input {
        width: 4rem;
    }

    .fb-nav .fb-nav-left .fb-nav-left-searchbox input::placeholder {
        opacity: 0;
    }

    .fb-nav .fb-nav-left .fb-nav-left-searchbox i {
        display: block;
        text-align: center;
        margin-left: -.6rem;
        ;
    }

    .fb-main-post,
    .fb-main-create-room,
    .fb-main-others-post {
        width: 98%;
    }

    .fb-main-status {
        height: 13rem;
    }

    .fb-main-status-card,
    #owner-status {
        position: relative;
        height: 100%;
        width: 8rem;
        cursor: pointer;
        transition: webkit-object-fit 1s ease-in-out;
    }
    #owner-status>p, .fb-main-status-card p {
        font-size: 1.1rem;;
    }
    #owner-status p i{
        font-size:1.3rem;
        width: 2.5rem;
        height: 2.5rem;
        border: .3rem solid white;
        top: -2rem;
    }
    .fb-main-status-card i {
        width: 3rem;
        height: 3rem;
        font-size: 1.7rem;
        border: .3rem solid white;

    }

    .fb-main-post-lower p {
        font-size: 1rem;
    }

    .fb-main-post-lower p i {
        font-size: 1.8rem;
    }

    .others-post-title div span {
        width: fit-content;
    }

    .others-post-title div{
        font-size:1.4rem;
        line-height:1.2rem;
    }
}

@media screen and (max-width:355px){
    .fb-main-status {
        grid-template-columns: repeat(3, auto);
    }
    .fb-main-status-card:last-child,  .fb-main-status-card:nth-last-child(2){
        display:none;
    }
    .fb-main-post-lower p {
       font-size:0;
    }
}
@media screen and (max-width:265px){
.fb-container{
zoom:.5;
height:100vh;
}
}